@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1> You may easily be in touch with me via Email: ahmedmudassir392@gmail.com,
     Mobile No. 0345-3855424</h1>
     
}
