@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <a href="https://github.com/Mudasir-dev/CRUD_Project">This is my ASP.NET CRUD Project based on real time CRUD operations for adding, updating, fetching and deleting the records......</a>
     <br >  <a href=" https://github.com/Mudasir-dev"> This is my Github account</a> <br /> 

}
